// px
$header: 70px;
$footer: 60px;
// color
$primary-color: #bb2133;
$btn_hover: #e05162;
$btn_active: #990e1f;

$header_bg: $primary-color;
$sider_bg: rgb(47, 46, 48);
$sider_active: rgb(38, 36, 36);
$sider_font: #ddd;
$sider_font_hover: #ddd;
$sider_submenu_bg: inherit;
$sider_submenu_active: rgb(47, 46, 48);
$sider_item_active: rgb(29, 27, 27);
$context_bg: rgb(236, 236, 236);
// shadow
