@import 'lib/common.scss';

.home-navbar {
    margin-top: 90px;
}

.tm-nv-card {
    padding: 35px;
    padding-right: 0;
    .card-image-left {
        padding: 10px;
        display: flex;
        border: 1px solid #bebebe;
        img {
            margin: 0 auto;
        }
    }
    .card-body {
        padding: 0 20px;

        .card-title {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 20px;
            .bages {
                font-size: 18px;
                font-weight: normal;
                padding: 3px;
                display: inline-block;
                height: 26px;
                width: 26px;
                text-align: center;
                margin-left: 10px;
                position: relative;
                top: -6px;
            }
        }
        .card-text {
            font-size: 18px;
        }
    }
    .tm-invite {
        display: flex;
        .invite-num {
            width: 150px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            border-left: 1px solid #bebebe;
            .num {
                color: $primary-color;
                font-size: 36px;
            }
            .msg {
                font-size: 18px;
                margin-top: 5px;
            }
        }
        .invite-btn {
            width: 80px;
            text-align: center;
            line-height: 80px;
            writing-mode: tb-rl;
            font-size: 24px;
            margin: -35px 0;
            letter-spacing: 5px;
            color: #fff;
        }
    }
}
.tm-item-card {
    padding: 15px;
    padding-bottom: 30px;
    margin: 20px 0;
    .card-icon {
        i.icon {
            font-size: 30px;
            color: $primary-color;
            position: relative;
            top: -2px;
        }
    }
    .card-body {
        padding: 0;
        padding-left: 15px;
        h2 {
            font-size: 30px;
        }
    }
}

.tm-v-card {
    margin: 20px 0 20px 12px;
}

.vv-wrapper {
    padding: 25px 35px;
    .row {
        margin: 0 -15px !important;
        div.card-space {
            padding: 0 0.5rem;
        }
    }
}

.card.tm-card.tm-photowall {
    padding: 20px 30px 50px 30px;
    flex-direction: column;
    margin: 20px 0;
    .pw-title {
        i {
            font-size: 30px;
            color: $primary-color;
        }
        font-size: 30px;
        margin-bottom: 20px;
    }
    .pw-wrapper {
        display: flex;
        flex-direction: row;
        .pw-col {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .pw-col-row {
            display: flex;
            flex-direction: row;
        }

        .pw-cube {
            flex: 1;
            padding: 2px;
        }
    }
}

@media (max-width: $mobile) {
    .card.tm-card {
        flex-direction: column;
    }
    .tm-nv-card {
        padding: 0;
    }
    .home-navbar {
        margin-top: 20px;
    }
    .tm-v-card {
        margin: 0;
    }
    .tm-nv-card {
        .card-image-left {
            border: 0;
        }
        .card-body {
            text-align: center;
        }
        .tm-invite {
            margin-top: 20px;
            .invite-num {
                flex: 1;
                width: auto;
                border: 0;
                .num {
                    font-size: 24px;
                }
            }
            .invite-btn {
                flex: 1;
                width: auto;
                margin: 0;
                writing-mode: inherit;
            }
        }
    }
    .tm-item-card {
        text-align: center;
        .card-body {
            padding: 0;
        }
    }
    .card.tm-card.tm-photowall .pw-wrapper {
        display: block;
        .pw-col-row {
            display: block;
        }
    }
}
