@import 'lib/common.scss';

.joinus {
    background: url('../assets/image/background/vague_1.png') center center
        no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 866px;
    h2 {
        font-size: 80px;
        font-weight: bold;
        color: $primary-color;
        margin: 180px auto 45px;
    }
    h3 {
        font-size: 38px;
        max-width: 610px;
        line-height: 72px;
        margin: 0;
    }
    .joinus-button {
        background: transparent;
        width: 378px;
        height: 85px;
        box-sizing: border-box;
        color: #333;
        border: 1px solid #555;
        font-size: 36px;
        margin-top: 60px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.tm-slick {
    width: 1100px;
    margin: 0 auto;
    height: 600px;
    .slick-item {
        position: relative;
        .slick-b {
            position: absolute;
        }
        .slick-cube {
            width: 200px;
            height: 200px;
            background: url('../assets/image/cube.png') no-repeat center center;
            color: #fff;
            font-size: 30px;
            font-weight: bold;
            line-height: 200px;
            text-align: center;
            margin: 0;
        }
    }
}

// fixed
.slick-slide {
    div {
        display: block !important;
    }
}

.image-1 {
    background: url('../assets/image/guests/biyiyang.png') center center
        no-repeat;
    height: 960px;
    position: relative;
    .lecture-title {
        color: $primary-color;
        font-size: 54px;
        font-weight: bold;
        margin-left: -120px;
        max-width: 800px;
    }
    .lecture-context {
        background: rgb(119, 23, 34);
        color: white;
        padding: 60px 45px;
        font-size: 36px;
        line-height: 56px;
        margin-top: 60px;
        margin-left: -100px;
        max-width: 720px;
    }
    .posi-1 {
        position: relative;
        top: 242px;
        left: 50%;
    }
}

.banner-box {
    color: white;
    padding: 20px;
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    @include center();

    h3 {
        margin: 1% 0 1%;
        font-size: 50px;
    }
    p {
        font-size: 30px;
        margin: 0;
    }
    h2 {
        font-size: 64px;
        font-weight: bold;
        margin-top: 14px;
    }
    .jo-btn {
        position: absolute;
        top: 13%;
        left: 30%;
        width: 150px;
        height: 50px;
        font-size: 24px;
        color: white;
        background: inherit;
        border-radius: 25px;
        border: 1px solid #fff;
        &:hover {
            text-decoration: underline;
        }
    }
}

@media only screen and (max-width: $mobile) {
    .image-1 {
        height: 500px;
        background-size: 300%;
        .posi-1 {
            position: relative;
            top: 40px;
            left: 0;
        }
        .lecture-context {
            margin: 20px 10px 0;
            padding: 20px;
            font-size: 24px;
            line-height: 44px;
        }
        .lecture-title {
            font-size: 30px;
            text-align: center;
            padding: 0 10px;
            margin-left: 0;
        }
    }
    .joinus {
        height: 310px;
        h2 {
            font-size: 32px;
            margin: 40px auto 20px;
        }
        h3 {
            font-size: 20px;
            line-height: 36px;
            padding: 0 15px;
        }
        .joinus-button {
            width: 60%;
            height: 60px;
            font-size: 24px;
            margin-top: 30px;
        }
    }
}
