@import 'lib/common.scss';

.extra-intro {
    min-width: 420px;
    background: #fff;
    .vd-recommend {
        padding: 10px;
        display: flex !important;
        .vd-image {
            min-width: 200px;
            height: 120px;
            overflow: hidden;
            position: relative;
            img {
                max-width: 200px;
            }
            .vd-times {
                background: rgba(56, 58, 60, 0.9);
                font-size: 12px;
                position: absolute;
                bottom: 10px;
                right: 10px;
                color: white;
            }
        }

        .vd-commend-info {
            padding-left: 10px;
            h3 {
                color: #333;
                font-size: 16px;
                line-height: 24px;
                margin: 0;
            }
            p {
                font-size: 14px;
                color: #666;
                margin: 0;
                margin-top: 26px;
            }
            span.tip {
                font-size: 12px;
                color: #999;
            }
        }
    }

    .tabs {
        border-bottom: 1px solid #ccc;
    }
}

.vd-intro {
    .tabs {
        border-bottom: 1px solid #ccc;
        .tab a.active {
            border-bottom: 4px solid #333;
        }
    }
    .vd-info {
        position: absolute;
        right: 0;
        font-size: 14px;
        color: #999;
        span {
            padding: 0 10px;
        }
    }
}

.ivd-content {
    padding: 30px;
    background: white;
    .ivd-avatar {
        display: flex;
        img {
            width: 140px;
            height: 140px;
        }
    }
    .ivd-info {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        h5 {
            padding-bottom: 5px;
            margin: 0;
            font-size: 1.5rem;
            white-space: nowrap;
            sub {
                padding-left: 10px;
                color: #999;
                font-size: 14px;
            }
        }
        p {
            flex: 1;
            font-size: 20px;
            color: #666;
            margin: 0;

            sub {
                padding-left: 5px;
                color: #999;
                font-size: 14px;
                top: 0;
            }
        }
        .ivd-group {
            padding-top: 10px;
            .btn {
                color: #fff;
            }
            .ivd-left {
                margin-left: 10px;
            }
        }
    }
    .ivd-p {
        margin-top: 30px !important;
        color: #666;
    }
    .cube:nth-child(1) {
        > p {
            margin: 0;
            font-size: 14px;
        }
        > h5 {
            font-size: 14px;
            font-weight: bold;
            margin: 20px 0;
        }
    }
}

@media only screen and (max-width: $mobile) {
    .wrapper-top {
        padding: 0;
    }
    .ivd-content {
        padding: 15px;
        .ivd-info .ivd-group {
            .btn {
                font-size: 14px;
            }
            .ivd-left {
                margin-left: 5px;
            }
        }
        .ivd-p {
            margin-top: 15px !important;
        }
    }
}
